body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

h1 {
    text-align: center;
}

#userInfo{
    text-align: right;
    font-style: italic;
}

#createDiv{
    margin-top: 10%;
}

#loginDiv {
    margin-top: 10%;
}

#widthheightSet {
    max-width: 67%;
    max-height: 59%;  
    margin: 0 18%; 
}
